# PostgreSQL connection
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=securepassword123
POSTGRES_DB=celine

# dbt
DBT_PROJECT_DIR=./dbt
DBT_PROFILES_DIR=./dbt
DBT_TARGET=dev
